@import-normalize;
@import "font.css";
@import "button.css";
@import "recipe-list.css";
@import "recipe.css";
@import "ingredient-list.css";
@import "recipe-edit.css";

*,
*::before,
*::after {
  font-family: Gotham Rounded, sans-serif;
}

html {
  font-size: 16px;
  background-color: hsl(90, 100%, 50%);
}

body {
  margin: 0;
  padding: 0;
}

.mr-1 {
  margin-right: 5px;
}
