@font-face {
  font-family: Gotham Rounded;
  src: url("./../fonts/GothamRounded-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Gotham Rounded;
  src: url("./../fonts/GothamRounded-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Gotham Rounded;
  src: url("./../fonts/GothamRounded-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
